@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image:url('../public/images/grey.jpg');
}



.gradient-text {
    background: linear-gradient(90deg, grey, black, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Effet de zoom sur l'image d'arrière-plan */
@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}

/* Effet de défilement du texte qui s'arrête au centre */
@keyframes textSlide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0); /* Le texte sera centré à 50% de l'animation */
  }
  100% {
    transform: translateX(0); /* Le texte reste centré */
  }
}

/* Effet de zoom sur l'image d'arrière-plan */
@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 110%;
  }
}